body {
  background-image: url(../img/bg_body.png);
}
.settodo {
  width: 50%;
  margin-right: 3%;
  font-family: "Microsoft JhengHei";
  background: none;
  font-weight: 600;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 1.5rem;
  &:focus {
    outline: none;
  }
}
.title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 5%;
  width: 80%;
  margin: 0 auto;
  img {
    width: 60%;
  }
}
.wrap {
  width: 1000px;
  padding-top: 3%;
  margin: 0 auto;
}
.inputBar {
  display: flex;
  justify-content: center;
}

.listPosition {
  display: flex;
  padding-top: 5%;
  padding-bottom: 10%;
  justify-content: center;
}
.selectmenu {
  width: 30%;
  border: 1px solid;
}

.holderplace {
  position: relative;
  background-image: url(../img/select_btn.png);
  align-items: center;
  padding: 10px;
  padding-top: 5px;
  width: 129px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  font-family: "Microsoft JhengHei";
  font-weight: 550;
  letter-spacing: 0.2rem;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    background-image: url(../img/select_btn_hover.png);
  }
}
.chooselist {
  img {
    padding-right: 5%;
  }
  li {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-family: "Microsoft JhengHei";
    font-weight: 600;
    width: 100px;
    cursor: pointer;
    &:hover {
      background-color: rgb(251, 255, 212);
    }
  }
  border: 1px solid;
  margin-top: 5px;
  text-align: center;
  position: absolute;
  display: none;
  background-color: #f7f8f3;
}
.addtodo {
  margin-left: 1%;
  width: 95px;
  height: 47px;
  cursor: pointer;
  background-image: url(../img/btn01.png);
  &:hover {
    background-image: url(../img/btn_hover.png);
  }
}
.list {
  width: 80%;
  span {
    display: flex;
    align-items: center;
    width: 100%;
    letter-spacing: 0.1rem;
  }
  li {
    font-size: 1.3rem;
    border-bottom: dashed 1.5px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-family: "Microsoft JhengHei";
    font-weight: 500;
    padding: 2% 0;
  }
}
.delebtn {
  cursor: pointer;
}
.dotimg {
  padding-right: 5%;
}
.list > .nocontent {
  border-bottom: none;
  justify-content: center;
  color: rgba(82, 82, 82, 0.691);
  font-size: 1.8rem;
}
.alertBg {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.123);
}

.alertPosit {
  position: absolute;
  top: -15%;
  //top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  transition: all 0.5s;
  opacity: 0;
}
.alertBox {
  position: relative;
  height: 200px;
  width: 300px;
  margin: 0 auto;

  transition: all 0.5s;
  background-image: url(../img/alert_bg.png);

  p {
    text-align: center;
    padding-top: 30%;
    font-family: "Microsoft JhengHei";
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
  }
}
.alertBtn {
  position: absolute;
  margin-top: -18px;
  right: -16px;
  background-color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  &:hover {
    background-color: rgb(90, 90, 90);
  }
  i {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    color: #ffff;
  }
}
